<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.usmankhi18.attendancetrackingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".attendance.ViewAttendanceActivity" />
        <activity android:name=".attendance.AttendanceDetailActivity" />
        <activity android:name=".attendance.TakeAttendanceActivity" />
        <activity android:name=".courses.ViewCoursesActivity" />
        <activity android:name=".courses.AddCoursesActivity" />
        <activity android:name=".courses.UpdateCoursesActivity" />
        <activity android:name=".courses.DeleteCoursesActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".teacher.AddTeacherActivity" />
        <activity android:name=".teacher.ViewTeachersActivity" />
        <activity android:name=".teacher.UpdateTeacherActivity" />
        <activity android:name=".teacher.DeleteTeacherActivity" />
        <activity android:name=".student.DeleteStudentActivity" />
        <activity android:name=".student.UpdateStudentActivity" />
        <activity android:name=".student.AddStudentActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".student.ViewStudentActivity" />
        <activity android:name=".TeacherDashboardActivity" />
        <activity android:name=".mapping.StudentCourseMappingActivity" />
        <activity android:name=".mapping.TeacherCourseMappingActivity" />
    </application>

</manifest>